body {
  background-image: url('../img/e5ebca0b-c3b3-4a91-ab67-da8dd64f71f3.jpg');
  background-size: cover;       /* Fill the whole page */
  background-repeat: no-repeat;
  background-position: center;
}

.entire {
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.name {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

input {
    background-color: #E5E5E5;
    border: none;
    border-radius: 3px;
    height: 35px;
    margin-bottom: 10px;
    padding-left: 10px;
    width: 250px;
}

button {
    width: 260px;
    height: 35px;
    background-color: #A5CFA7;
    border-color: solid;
    border-width: 1px;
    border-radius: 3px;
    cursor: pointer;
}

.forgot {
    font-size: 13px;
    margin-bottom: -3px;
    cursor: pointer;
}

span {
    color: #3D3DAF;
    cursor: pointer;
}

.already {
    font-size: 15px;
}
